*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.aside{
    height: 955px;
    width: 350px;
    background: rgb(0, 0, 0);
}

.cor_fundo{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #000000, #494949, #000000);
    background-size: 400% 400%;
    animation: moverGradiente 10s ease infinite;
    display: flex;
    flex-direction: column;
}
