*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.dentro{
    background-image: url(../Img/aside_adm.png);
    background-size: cover;
    background-position: center;
    width:300px;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
}

.logo_nome{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 25px;
}


.logo{
    /* position: absolute;
    top: 20px;
    left: 30%;
    transform: translateX(-100%); */
    width: 100px;
}

.dentro h1{
    /* position: absolute;
    top: 30px;
    left: 65%;
    transform: translateX(-100%); */
    
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

span {
    color: #ff751f;
}

.linha{
    /* position: absolute;
    top: 90px;
    left: 100%;
    transform: translateX(-100%); */
    width: 100%;
    height: 2px;
    background: rgb(73, 73, 73);
    margin-bottom: 15px;
}

.informarcao_contato{
    height: 500px;
    width: 310px;
    /* background: #ff751f;  */
    display: flex;
    justify-content: center;  
    flex-direction: column;
    gap: 30px;
    padding: 35px;

}
/* 
.icone{ */
    /* position: absolute;
    top: 150px;
    left: 25%;
    transform: translateX(-100%); */
    /* width: 100%;
    height: 2px; */
    /* background: rgb(73, 73, 73); */
    /* height: 25px;
    width: 30px;
    filter: invert();
} */

.infor{
    padding: 50px;
    height: 25px;
    width: 50px;
    /* background: #ff751f; */
    gap: 15px;
    color: white;
}

.forma{
    /* position: absolute;
    top: 100px;
    left: 85%; */
    /* transform: translateX(-89%); */
    /* width: 85%; */
    /* background: #ff751f; */
    display: flex;
    
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.botao{
    border-radius: 5px;
    /* background: #ff751f; */
    height: 50px;
    width: 250px;
    display: flex;
    gap: 15px;
    padding-left: 25px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.botao:hover{
    background-color: #ff7b00;
    transform: translateX(5px);
}

.icone_{
    height: 30px;
    width: 30px;
    filter: invert();    
}

h3{
    color: rgb(255, 249, 249);
}

.botao:active {
    background-color: #ff7b00;
}


.sair{
    /* position: absolute; */
    /* top: 850px; */
    /* left: 215px; */
    /* transform: translateX(-80%); */
    height:50px;
    width: 230px;
    background: #5f5d5b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: auto;
    margin-bottom: 20px;
    
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sair a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sair:hover{
    background-color: #807c79;
    
}

.espaco{
    width: 100%;
    padding-left: 300px;
    
    
    
    /* background: #ff7b00; */
}

.espaco_dashboard{
    display: flex;
}

.cabecalho{
    height: 77px;
    width: calc(100% - 300px);
    background: black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    border-bottom: 2px solid rgba(187, 182, 182, 0.842);

}

.perfil {
    height: 15px;
    display: flex;

    /* flex-direction: column; */
    align-items: center;

    padding: 20px;
    color: white;
    gap: 15px;
    border-left: 2px solid rgba(59, 56, 53, 0.5);
    margin-left: auto;
}

.informa h3{
    color: #000000;

}

.foto_perfil {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.dados_usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.dados_usuario h3,
.dados_usuario p {
    margin: 0;
}

.pagina{
    display: flex;
    /* gap: 5px; */
    /* background: #5f5d5b; */
    /* flex-wrap: wrap; */
    /* margin-left: 150px; */

}

.page_select{
    padding-left:20px ;
    padding-right:10px ;
    /* background: #ff7b00; */
    border-right:2px solid rgba(59, 56, 53, 0.5);
    
}

.linha_{
    height: 60px;
    width: 2px;
    background:rgba(59, 56, 53, 0.5);
}

.perfil_profiissional{
    height: 200px;
    width: 90%;
    /* margin-top: 12px; */
    margin-left: 80px;
    /* background: #c9c7c7c0;*/
    /* border: 2px solid rgba(128, 128, 128, 0.404);*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
   
}

.dados_pessoais h3{
    color: #000000;
}

.dados_ h3{
    color: #000000;
}

.foto_profissional{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 35px;
    height: 180px;
   
}

.dados_{
    height: 150px;
    width: 300px;
    /* background: #000000; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.dados_pessoais{
    margin-top: 70px;
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background: #000000; */
}

.status_funcionario{
    background: #f5e6d8;
    color: #f8a100;
    padding: 5px 12px;
    border-radius: 20px;
    width: fit-content;
}

.contato{
    height: 100px;
    width: 300px;
    /* background: #f8a100; */
    border-left: 2px solid rgba(153, 152, 152, 0.397);
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 40px;
    padding-left: 15px;
    margin-top: 10px;
   
}

.fone, .email, .endereco{
    display: flex;
    gap: 10px;
}

.icone_contato{
    height: 20px;
    /* display: flex; */
}

.infor_{
    display: flex;
}

.informacoes_profissional{
    height: 320px;
    width: 100%;
    /* background: #3a3838a9 */
    /* border: 2px solid #ffffff62; */
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: invert();
}

.quadrado{
    display: flex;
    margin-left: 80px;
    gap: 10px;
    width: 90%;
}

.titulo_categoria{
    /* border-bottom: 2px solid white; */
    padding: 10px;
    display: flex;
    /* color: #000000; */
}

.titulo_escolha{
    /* border-bottom: 2px solid white; */
    padding: 10px;
    display: flex;
    color: #000000;
}

.categoria{
    padding: 5px;
    margin-left: 10px;
    width: 50%;
    border-bottom:2px solid rgba(0, 118, 228, 0.452) ;
    display: flex;
}

.icone_dados{
    margin-left: 10px;
    margin-top: 5px;
    filter: invert();
    height: 30px;
}

.icone_dados_{
    margin-left: 10px;
    margin-top: 5px;
    /* filter: invert(); */
    height: 30px;
}

.nome_profissional{
    display: flex;
    gap: 10px;
    margin-left: 10px;  
    width: 88%;
    padding: 15px;
    border-bottom: 2px solid rgba(145, 140, 140, 0.5);
    
}

.nome_profissional p {
    color: white;
}

.bio{
    margin-left: 10px;
    margin-top: 5px;
    height: 230px;
    width: 94%;
    /* border: 2px solid white; */
}

.bio p{
    padding: 10px;
    color: white;
}

.escolha{
    height: 150px;
    width: 50%;
    
    /* background: #5f5d5b;*/
    /* border: 2px solid #00000067; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 20px;
}

.botao_escolha{
    display: flex;
    gap: 25px;
}

.categoria_{
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 60%;
    border-bottom:2px solid rgba(250, 121, 0, 0.322) ;
    display: flex;
}

.botao_contratacao_aprovado{
    height: 25px;
    width: 100%;
    padding: 5px;    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a7542;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 30px;   
    text-decoration: none;
}

.nova_contratacao_rejeitado{
    height: 25px;
    width: 100%;
    padding: 5px;    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d33f25;
    margin: 10px;
    margin-left: 30px;  
    text-decoration: none;
}

.nova_contratacao{
    width: 100%;
}

.botao_contratacao_aprovado a{
    text-decoration: none;
}

.botao_contratacao_rejeitado a{
    text-decoration: none;
}

textarea{
    /* margin-left: 3px; */
    margin-top: 10px;
    width: 100%;
    height: 90%;
    resize: none;
    border-radius: 5px;
    background: white ;
    color: #000000 ;
    filter: invert();
    font-size: 20px;
    padding: 5px;
}



.parte_escolha{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 8px; */
}

.nome_profissional .informacaos{
    color: #807c79;
}

.entrada {
    /* background: #5f5d5b; */
    margin: 30px;
    margin-left: 130px;
    margin-top: 100px;
    margin-right: 130px;
    display: flex;
    justify-content: space-between;

}

.escolha{
    height: 100%;
    width: 29%;
    padding: 5px;
  
}

