*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cor_fundo {
    /* a seção cresce automaticamente conforme adicionar conteúdo. */
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #000000, #494949, #000000);
    background-size: 400% 400%;
    animation: moverGradiente 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a {
    transform: scale(1.2);
    margin: 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    background: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.linha_laranja {
    height: 5px;
    width: 100%;
    background: #ff751f; 
    background: linear-gradient(-45deg, #ff751f, #e9e9e9, #ff751f);
    background-size: 400% 400%;
    animation: moverGradiente 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    position: sticky;
    top: 100px;
     /* altura do header  */
    z-index: 999;
}

@keyframes moverGradiente {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cabecalho {
    display: flex;
    align-items: center;
}

.perfil {
    transform: scale(1.1);
    margin-right: 25px;
    width: 50px;
    height: 50px;
}

.inicio {
    height: inherit;
    width: inherit;
    flex-shrink: 2;
}

.logo {
    margin-top: 10px;
    height: 80px;
    width: px;
    display: flex;
}

.espaco{
    width: 98%;
    /* background: #ff751f; */
    display: flex;
    
}

.perfil_profissional{
    height: 300px;
    width: 100%;
    background: #e9e9e9;
    margin-right: 25px;
    margin-left: 25px;
    margin-top:15px;
    display: flex;

    border-radius: 30px;
}

.foto{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    /* background: rebeccapurple; */
    bottom: 50px;
    margin: 50px;
    border: 5px solid;
}

.informarcao{
    
    margin-top: 15px;
    height: 250px;
    width: 250px;
    gap: 150px;
    display: flex;
    background: #ff751f;
}

.informarcao h3{
    margin-top: 25px;
    padding: 10px;
}

.cargo{
    margin-top: 10px;
}

.botao{
    display: flex;
    justify-content: center;
    /* margin-bottom: 45px; */
    height: 28px;
    width: 95px;
    border: none;
    background: #e90000;
    color: #e9e9e9;
    border-radius: 10px;
    cursor: pointer;
}

.botao:hover{
      transform: scale(1.05);
      background: #ff751f;
}

.sobre{
    height: 300px;
    width: 100%;
    background: #e9e9e9;
    margin-right: 25px;
    margin-left: 25px;
    margin-top:15px;
    display: flex;
   

}
