* {
  cursor: none !important;
}
#cur-dot {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform .12s ease, opacity .12s ease;
  width: 50px;
  height: 50px;
  object-fit: contain;
  will-change: transform, left, top;
  opacity: 1;
}
/* scale/visual effect when hovering interactive elements */
body.cursor-hover #cur-dot {
  transform: translate(-50%, -50%);
  transition: transform .08s ease;
}
.logo {
    width: 150px;
    height: auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    
}
.Header{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 10px;
}
body {
    background-color: #050120;
}
footer {
    background-color: gray;
}

.col-apresent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title {
    text-align: center;
    color: crimson
}

.Servente{
    background-image: url(../Img/servente.jpg);
    width: 350px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.Pedreiro{
    background-image: url(../Img/pedreiro.jpg);
    width: 350px;
    height: 500px;
    background-size: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Mestre{
    background-image: url(../Img/mestre.jpg);
    width: 350px;
    height: 500px;
    background-size: cover;
}
li{
    text-align: center;
}
.fun {
    width: 350px;
    height: 500px;
    opacity: 0;
    z-index: 100;
}

.card{
    display: grid;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #a52a2a71;
    width: 400px;
    border-radius: 1rem;
}

.Modo{
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 40px;
}

.img {
    width: auto;
    height: 500px;
}
.item{
    background-color: gray;
    width: fit-content;
    border-radius: 1rem;
}
.legend{
    text-align: center;
}
.grid2{
    display: grid;
}
.div {
    width: 100%;
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}